# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

SDV602 Course Outline and Assesments S2 2021(moderated).pdf
.idea
/SDV 602 Milestone 1 Mark Christison/~$V602 Milestone 1.docx
/SDV 602 Milestone 1 Mark Christison/~WRL2813.tmp
